.header {
  padding: var(--lumx-spacing-unit-regular) var(--lumx-spacing-unit-big);
  background-color: var(--lumx-color-dark-L6);
  border-bottom: 1px solid var(--lumx-color-dark-L4);
  min-height: var(--lumx-size-l);

  .logo img {
    height: 100px;
  }

  .search {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 320px;
  }
}
